body {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

header {
    padding: 20px;
}

nav {
    display: flex;
    background-color: rgb(40, 98, 79);
    color: white;
    padding: 20px;
    gap: 30px;
    flex-wrap: wrap;
}

main {
    min-height: 730px;
}

section {
    margin-top: 10px;
}

a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: yellow;
}

nav > li {
    list-style: none;
}
footer {
    position: relative;
    padding: 20px;
    background-color: rgb(40, 98, 79);
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.headline_box {
    display: flex;
    flex-wrap: nowrap;
    padding-left: 20%;
    padding-right: 20%;
    gap: 20px;
    align-items: center;
}

.headline_logo {
    animation-name: headline_logo;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.hr_session {
    width: 90%;
}

.hr_header_card {
    animation-name: hr_anime;
    animation-duration: 4s;
}

.master_box {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.card_box {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.card_item {
    border-radius: 10px;
    box-shadow: 0px 1px 8px 0px #888888;
    padding: 20px;
    width: 20vw;
    min-width: 50vmin;
}

@keyframes hr_anime {
    0% {width: 0%;}
    100% {width: 100%;}
}

@keyframes headline_logo {
    0% {transform: rotateY(0deg);}
    100% {transform: rotateY(100deg);}
    100% {transform: rotateY(360deg);}
}

@media screen and (max-width: 600px) {
    .headline_box {
        display: flex;
        flex-wrap: nowrap;
        padding-left: 5%;
        padding-right: 5%;
        gap: 20px;
        text-overflow: ellipsis;
    }
  }